<%= simple_form_for(@listing, html: { class: 'form-horizontal' }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :location_id, collection: @myLocs, prompt: "Select Location..." %>
    <%= f.input :space_type, collection: [['Street','Street'],['Driveway','Driveway'], ['Garage', 'Garage']], prompt: "Select space type..." %>
    <%= f.input :half_day, label: "Half-Day Rate ($)" %>
    <%= f.input :full_day, label: "Day Rate ($)" %>
    <%= f.input :week, label: "Week Rate ($)" %>
    <%= f.input :month, label: "Month Rate ($)" %>
    <%= f.input :min_to_campus %>
    <%= f.input :startDateTime, label: "Start Date and Time" %>
    <%= f.input :endDateTime, label: "End Date and Time"%>
    <%= f.input :active %><br>

  <div class="actions">
    <%= f.submit class: 'button radius small expand'%>
  </div>
<% end %>
