<%= simple_form_for(@listing, html: { class: 'form-horizontal' }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :location_id, collection: @myLocs, prompt: "Select Location..." %>
  </div>
  <div class="field">
    <%= f.input :half_day %>
  </div>
  <div class="field">
    <%= f.input :full_day %>
  </div>
  <div class="field">
    <%= f.input :week %>
  </div>
  <div class="field">
    <%= f.input :month %>
  </div>
  <div class="field">
    <%= f.input :min_to_campus %>
  </div>
  <div class="field">
    <%= f.input :startDateTime %>
  </div>
  <div class="field">
    <%= f.input :endDateTime %>
  </div>
  <div class="field">
    <%= f.input :active %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
