<h1>Listing listings</h1>

<table>
  <thead>
    <tr>
      <th>Half day</th>
      <th>Full day</th>
      <th>Week</th>
      <th>Month</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Min to Campus</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.half_day %></td>
        <td><%= listing.full_day %></td>
        <td><%= listing.week %></td>
        <td><%= listing.month %></td>
        <td><%= listing.startDateTime %></td>
        <td><%= listing.endDateTime %></td>
        <td><%= listing.min_to_campus %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
