<p id="notice"><%= notice %></p>

<p>
  <strong>Half day:</strong>
  $<%= @listing.half_day %>
</p>

<p>
  <strong>Full day:</strong>
  $<%= @listing.full_day %>
</p>

<p>
  <strong>Week:</strong>
  $<%= @listing.week %>
</p>

<p>
  <strong>Month:</strong>
  $<%= @listing.month %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @listing.startDateTime %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @listing.endDateTime %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
