<div>
    <%= f.input :card_number, placeholder: '0000000000000001' %>
    <%= f.input :expiration_date, placeholder: '06/19'%>
    <%= f.input :holder_name, placeholder: 'Subra Suresh' %>
    <%= f.input :card_type, placeholder: 'Visa, MasterCard' %>
    <%= f.input :security_code, placeholder: '999' %>
</div>