<div>
    <%= f.input :card_number, placeholder: '0000000000000001' %>
    <%= f.input :expiration_date, placeholder: '06/19'%>
    <%= f.input :holder_name, placeholder: 'Subra Suresh' %>
    <%= f.input :card_type, placeholder: 'Visa, MasterCard' %>
    <%= f.input :security_code, placeholder: '999' %>
</div>




<!--   <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br>
    <%= f.text_field :expiration_date %>
  </div>
  <div class="field">
    <%= f.label :holder_name %><br>
    <%= f.text_field :holder_name %>
  </div>
  <div class="field">
    <%= f.label :card_type %><br>
    <%= f.text_field :card_type %>
  </div>
  <div class="field">
    <%= f.label :security_code %><br>
    <%= f.text_field :security_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->