<div class="row">
  <div class = "small-5 columns">
      <%= image_tag @user.picture_url() if @user.picture? %> 
  </div>

  <div class = "small-7 columns">
      <p id="notice"><%= notice %></p>

    <p>
      <strong><%= @user.username %></strong>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

        <p>
    <strong>Card Number :</strong>
      <%= @payments[0].card_number %>
    </p>


  </div>
</div>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
