<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @purchase.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @purchase.seller_id %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @purchase.listing_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @purchase.date %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
