<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @purchase.date %>
</p>


<p>
  <strong>Model:</strong>
  <%= @purchase.model %>
</p>

<p>
  <strong>Make:</strong>
  <%= @purchase.make %>
</p>

<p>
  <strong>License:</strong>
  <%= @purchase.license %>
</p>

<%= link_to 'Back', purchases_path %>
