<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @payment.card_number %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @payment.expiration_date %>
</p>

<p>
  <strong>Holder name:</strong>
  <%= @payment.holder_name %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @payment.card_type %>
</p>

<p>
  <strong>Security code:</strong>
  <%= @payment.security_code %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
