<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase:</strong>
  <%= @car.purchase_id %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>License:</strong>
  <%= @car.license %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
