<%= simple_form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :street_address %><br>
    <%= f.input :city %><br>
    <%= f.input :state, :collection => Location::STATES_LIST, :prompt => "Select a state..." %>
    <%= f.input :zip_code %><br>
    <%= f.input :num_cars, label: 'Num. Cars' %><br>
    <%= f.input :car_type, label: 'Car Types' %><br>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %><br />
  </div>
  <div class="actions">
    <%= f.submit class: 'button radius small expand'%>
  </div>
<% end %>
