<h2>My Locations</h2>

<div class="locationContent">

<ul class = "no-bullet">
    <% @locations.each do |location| %>
            <%= link_to location do %> 
            <div class="locationContainer" >
            <img>  <%= image_tag location.photo_url(:thumb) if location.photo? %> </img>
            <h6 ><%= location.street_address %></h6>
            <p><%= location.city %></p>   
            </div>        
            <%end%>
          
    <%end%>


</ul>



<%= link_to 'New Location', new_location_path%>

</div>
<br>

