<h1>Listing locations</h1>

<table>
  <thead>
    <tr>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Num cars</th>
      <th>Car type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.street_address %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip_code %></td>
        <td><%= location.num_cars %></td>
        <td><%= location.car_type %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
