<div class="row">
  <div class="large-3 columns"></div>
  <div class="large-3 columns"></div>
  <div class="large-3 columns">
    <%= link_to 'New Location', new_location_path, class: 'button tiny radius secondary right' %>
  </div>
</div>  
<% if @locations.length == 0 %>
<h3>You have no locations! </h3>
<% else %>
<% @locations.each do |location| %>
<div class="row">
  <div class="small-5 columns">
    <% unless location.photo_url.nil? %>
        <%= link_to image_tag(location.photo_url), location_path(location) %><br /><br />
    <% end %>
  </div>
  <div class="small-7 columns">
    <span class="smallHeading"><strong><%= location.street_address %></strong><br>
    <span class="smallSubHeading gray"><%= location.city %></span><br><br>
    <%= link_to 'Edit', edit_location_path(location) %>
  </div>
  <hr>
</div>
<% end %>
<% end %>  